@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik", sans-serif;
}

.sidebar {
    height: 100vh;
    background-color: #03172aec;
    padding-top: 10px;
    position: fixed;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar h4 {
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    color: #ffffff;
}

.sidebar.collapsed h4 {
    display: none;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.sidebar a i {
    font-size: 24px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.sidebar.collapsed a i {
    margin: 0 auto;
}

.sidebar.collapsed a span {
    display: none;
}

.sidebar a:hover {
    background-color: #e9ecef;
    color:#011830;
}

.sidebar a {
    display: flex;
    align-items: center;  /* Centra verticalmente el ícono y el texto */
    gap: 8px;  /* Ajusta el espacio entre el ícono y el texto */
    padding: 10px;
    text-decoration: none;
}

.sidebar a span {
    font-size: 16px; /* Ajusta el tamaño de la fuente del texto si es necesario */
}
